<app-loading *ngIf="loading"></app-loading>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]="datos_artista.images | noimage" class="img-thumbnail img-circle" alt="">
    </div>

    <div class="col-md-8">
        <h1>{{datos_artista.name}}</h1>
        <p>
            <a [href]="datos_artista.external_urls.spotify" target="_blank" style="color: white;"><i class="fa fa-link" aria-hidden="true"></i>
                Ir a la página del artista</a>
        </p>
    </div>


</div>
<br>
<div class="col-4 text-right">
    <button routerLink="/search" class="btn btn-outline-warning"><i class="fa fa-chevron-left" aria-hidden="true"></i>
        Regresar</button>
</div>
<br>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="text-center" style="color: white;">
                <tr>
                    <th>Foto</th>
                    <th>Álbum</th>
                    <th>Canción</th>
                    <th>Vista Previa</th>
                    <th>Spotify</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let datos of TopTracks" class="text-center" style="color: white;">
                    <td>
                        <img [src]="datos['album'].images | noimage" class="img-thumb" alt="" style="width: 50px;height: 50px;">
                    </td>
                    <td>{{datos['album'].name}}</td>
                    <td>{{datos.name}}</td>
                    <td><audio [src]="datos.preview_url" controls></audio></td>
                    <td>
                        <iframe [src]="datos.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="col-4 text-right">
    <button routerLink="/search" class="btn btn-outline-warning"><i class="fa fa-chevron-left" aria-hidden="true"></i>
        Regresar</button>
</div>